<div class="flex flex-row w-full h-full">
	<div class="flex flex-col w-1/12 md:w-3/12 h-full p-3 gap-4 bg-white">
		<span class="flex flex-row justify-center text-3xl">Aeroporto</span>
		<div class="flex flex-col gap-2 pt-2">
			<button
				class="flex flex-row w-full justify-center gap-2 bg-blue-800 hover:bg-blue-900 text-white font-medium py-2 px-4 rounded cursor-pointer"
				(click)="navega('painel')">
				<mat-icon>persons</mat-icon>
				Painel
			</button>
		</div>
	</div>
	<div class="w-full overflow-y-auto">
		<div class="flex flex-row h-16 pt-3 pr-3 justify-end items-center">
			<div class="flex flex-col w-12 h-12 rounded-full bg-blue-800 text-white items-center justify-center">
				AN
			</div>
		</div>
		<div class="px-10 py-2 pb-6">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>